.bundle
.DS_Store
tmp/**/*
cache/*
config/deploy.rb
Capfile
data/*
!data/*.example.*
public/pictures/projects/*
!public/pictures/projects/*.example.*
public/pictures/personal/*
!public/pictures/personal/*.example.*
