%h2 Profil
%ul
  %li IT Ingenieur FH spezialisiert auf die Entwicklung und Administration von Web-Applikationen
  %li Mehrjährige IT Projekt Management Erfahrung im kritischen Umfeld (E-Commerce, High-Traffic Webseiten)
  %li Spezialist für Servervirtualisierung mit VMware (Certified VMware Professional) und XEN
  %li Datenbank Modellierung und Administration auf MySQL, SQL Server, PostgreSQL und Oracle
  %li Softwareentwicklung mit Ruby, Ruby on Rails, ASP.NET (C#) und Javascript
  %li Grosse Erfahrung Systemadministration (Red Hat Enterprise Linux, Windows Server und Debian)

%h2 Berufserfahrung
%ul
  %li Head of IT Internet Competence Center, The Swatch Group Ltd, Biel, 2007-2009
  %ul
    %li Architektur, Planung, Realisation, Unterhalt und Administration der Swatch Group Web Hosting Infrastruktur
    %li Beratung von internen Kunden und von Web-Agenturen
    %li Organisation von Informationstagen und Betreuung des Praktikanten
  %li Diplomarbeit für PricewaterhouseCoopers, Bern, 2006
  %ul
    %li Entwicklung einer Webapplikation basierend auf Ruby on Rails und Oracle zur Planung und Verwaltung der Kundenprojekte
    %li Analyse der Bedürfnisse basierend auf User Centred Requirements Engineering
  %li Praktikum als IT Ingenieur, Telematic Services, Swatch Group Ltd, Biel, 2004-2005
  %ul
    %li Softwareentwicklung mit .NET im Client- und Web -Bereich, Netzwerkmonitoring, Scripting
  %li Praktikum als Informatiker, STAAR Surgical, Nidau, 2003
  %ul
    %li Einführungen einer Software zur Verwaltung der Messinstrumente und der Sicherstellung der Qualitätssicherung

%h2 Bildung
%ul
  %li Informatik-Ingenieur FH, HTI Biel – Hochschule für Technik und Informatik Biel, 2002-2006
  %li Technische Berufsmaturität, Gewerblich-Industrielle Berufsschule Bern, 1996-2000
  %li Feinmechaniker, Ernst Roser AG Bern, 1996-2000

%h2 Kurse & Diplome
%ul
  %li VMware Certified Professional (VCP), 2009
  %li VMware Infrastructure 3.5, Install & Configure, Digicomp Zürich, 2009
  %li Cambridge First Certificate in English, LSC (Language Studies Canada) Vancouver, 2000
  %li Red Hat Enterprise Linux Virtualization, Red Hat Training Center München, 2008
  %li Maintaining a Microsoft SQL Server 2008 Database, Trivadis Zürich, 2009
  %li Microsoft Server 2008 Administration, Microsoft Schweiz, 2008
  %li Implementing Windows Share Point 2007, ZFI Zürich, 2007

%h2 Kenntnisse
%ul
  %li Systemadministration auf folgenden Systemen RedHat Enterprise Linux, Windows Server 2003, Windows Server 2008, Debian
  %li Vertiefte Kentnisse bei der Konfiguration und Administration von Web Server wie Apache, IIS, nginx
  %li Modellierung und Administartion der folgenden Datenbanken: MySQL, SQL Server 2005, SQL Server 2008, PostgreSQL, Oracle
  %li Programmiersprachen: Ruby, C#, PHP, VB.NET, Bash
  %li Entwicklung von Webapplikationen mit Ruby on Rails, AJAX und ASP.NET 
  %li DNS Administration und Automatisierung auf Bind und Windows Server
  %li Administration von Linux Mailservern: sendmail, Postfix
  %li Verwendete und administrierte Versionskontrollsysteme: Subersion, Git
  %li Sehr gute Kentnisse im Bereich der Servervirtualisierung: VMware ESX 3.5, VMware Server 2, Xen
  %li Client Betriebssysteme: Mac OS X, Ubuntu, Fedora, Debian, Windows XP, Windows 7

%h2 Sprachen
%ul
  %li Deutsch: Muttersprache
  %li Englisch: mündlich: sehr gut, schriftlich: sehr gut
  %li Französisch: mündlich: sehr gut, schriftlich: gut