%h2 Profile
%ul
  %li Specialist for Web Applications and Server Infrastructures (Linux, Windows Server)
  %li IT Project Management for critical projects including e%licommerce applications and high traffic marketing web sites
  %li Virtualization Specialist on VMware ESX 3.5 (VCP Certification), VMware Server 2.0 and XEN
  %li Database Modeling and DBMS administration experience with a number of databases including MySQL, SQL Server, PostgreSQL and Oracle
  %li Web Application Development with Ruby, Ruby on Rails, ASP.NET (C#) and Javascript
  %li Scripting and Automation using bash, Ruby and other scripting languages
%h2 Experience
%ul
  %li Head of IT Internet Competence Center, The Swatch Group Ltd; Biel, 2007-2009
  %li Diploma Work for PricewaterhouseCoopers; Bern, 2006
  %li Traineeship as IT Engineer, Telematic Services, Swatch Group Ltd; Biel, 2004-2005
  %li IT Internship, STAAR Surgical; Nidau, 2003
%h2 Education
%ul
  %li Engineer for Information Technology, HTI Biel – Hochschule für Technik und Informatik Biel, 2002-2006
  %li Professional Maturity, Gewerblich-Industrielle Berufsschule Bern, 1996-2000
  %li Precision Mechanic, Ernst Roser AG Bern, 1996-2000
%h2 Courses & Diplomas
%ul
  %li VCP, VMware Certified Professional, 2009
  %li VMware Infrastructure 3.5: Install & Configure, Digicomp Zurich, 2009
  %li Cambridge First Certificate in English, LSC (Language Studies Canada), 2000
  %li Red Hat Enterprise Linux Virtualization, Red Hat Training Center Munich, 2008
  %li Maintaining a Microsoft SQL Server 2008 Database, Trivadis Zurich, 2009
  %li Microsoft Server 2008 Administration, Microsoft Switzerland, 2008
  %li Implementing Windows Share Point 2007, ZFI Zurich, 2007
%H2 Languages
%ul
  %li German, mother tongue
  %li English, fluent
  %li French, fluent