.span-24.last
  %h1
    %ul.big-list
      %li.resume
        %a{:href => "/#{r18n.locale.code}/resume/"}= t.showcase.resume
      %li.projects
        %a{:href => "/#{r18n.locale.code}/portfolio/"}= t.showcase.portfolio