.span-6.append-1
  = haml :_contact, :layout => false
.span-17.last
  %h1
    %ul.big-list
      %li.resume
        %a{:href => "/#{r18n.locale.code}/resume/"}= t.showcase.resume
      %li.projects
        %a{:href => "/#{r18n.locale.code}/portfolio/"}= t.showcase.portfolio